{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
<!-- android -->
<div class="panel panel-default">
    <div id="android-config-body" class="panel-collapse panel-body" role="tabpanel">
        <div id="android-config-error-msg" class="alert alert-danger hidden" role="alert">
            <i class="icon fw fw-error"></i><span></span>
        </div>
        <h4>
            	通信协议配置
            <hr>
        </h4>
        <div class="wr-input-control">
            <label class="wr-input-label" for="android-config-notifier">
               	协议类型
                <span class="helper" title="android代理联系IoT服务器的通信方法">
                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                </span>
            </label>
            <select id="android-config-notifier" class="form-control" data-default="0">
                <option value="1">本地轮询</option>
                <option value="2">Firebase云消息传递（FCM）</option>
            </select>
        </div>

        <div id="local-inputs">
            <div class="wr-input-control">
                <label class="wr-input-label" for="android-config-notifier-frequency">
                    	轮询间隔*
                    <span class="helper" title="时间间隔后，Android代理将每次联系IoT服务器以获取数据">
                        <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                    </span>
                    <br>
                    ( 应该在几秒钟内 )
                </label>
                <input id="android-config-notifier-frequency" type="text" class="form-control" >
            </div>
        </div>

        <div id="fcm-inputs">
            <div class="wr-input-control">
                <label class="wr-input-label" for="android-config-fcm-api-key">
                    API密钥*
                                                <span class="helper" title="FCM API 密钥">
                                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                                </span>
                </label>
                <input id="android-config-fcm-api-key" type="text" class="form-control" >
            </div>
        </div>
        <h4>
            	最终用户许可协议（EULA）
            <hr>
        </h4>

        <div class="wr-input-control">
            <textarea id="android-eula" type="text" class="form-control"></textarea>
        </div>
        <div class="wr-input-control wr-btn-grp">
            <button id="save-android-btn" class="wr-btn">保存</button>
        </div>
    </div>
</div>
<!-- /android -->
{{#zone "bottomJs"}}
    {{js "js/platform-configuration.js"}}
{{/zone}}
