<div class="row no-gutter">
    <div class="wr-hidden-operations-nav col-lg-4">
        <a href="javascript:void(0)" onclick="showAdvanceOperation('passcode-policy', this)" class="selected">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-key fw-stack-2x"></i>
                </span>
            	密码策略
            <span id="passcode-policy-configured" class="has-configured status-icon hidden"><i
                    class="fw fw-success"></i></span>
            <span id="passcode-policy-ok" class="has-success status-icon hidden"><i class="fw fw-success"></i></span>
            <span id="passcode-policy-error" class="has-error status-icon hidden"><i class="fw fw-error"></i></span>
        </a>
        <a href="javascript:void(0)" onclick="showAdvanceOperation('camera', this)">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-block fw-stack-2x"></i>
                </span>
            	相机限制	
            <span id="camera-configured" class="has-configured status-icon hidden"><i class="fw fw-success"></i></span>
            <span id="camera-ok" class="has-success status-icon hidden"><i class="fw fw-success"></i></span>
            <span class="camera-error status-icon hidden"><i class="fw fw-error"></i></span>
        </a>
        <a href="javascript:void(0)" onclick="showAdvanceOperation('encrypt-storage', this)">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-security fw-stack-2x"></i>
                </span>
            	加密设置
            <span id="encrypt-storage-configured" class="has-configured status-icon hidden"><i
                    class="fw fw-success"></i></span>
            <span id="encrypt-storage-ok" class="has-success status-icon hidden"><i class="fw fw-success"></i></span>
            <span id="encrypt-storage-error" class="encryption-error status-icon hidden"><i
                    class="fw fw-error"></i></span>
        </a>
    </div>

    <div class="wr-hidden-operations-content col-lg-8">
        <!-- passcode-policy -->
        <div class="wr-hidden-operation" data-operation="passcode-policy" style="display: block">
            <div class="panel panel-default operation-data" data-operation="passcode-policy"
                 data-operation-code="PASSCODE_POLICY">
                <div id="passcode-policy-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        	密码策略
                        <label id="passcode-policy-lbl" class="wr-input-control switch hidden" data-toggle="collapse"
                               data-target="#passcode-policy-body">
                            <input type="checkbox"/>
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                    </h2>
                    <div class="panel-title-description">
                        	此配置可用于将密码策略设置为Windows设备。 一旦将此配置文件安装到设备上，相应的用户将无法在其设备上修改这些设置。
                    </div>
                </div>
                <div id="passcode-policy-body" class="panel-collapse panel-body collapse" role="tabpanel"
                     aria-labelledby="passcode-policy-body">
                    <hr/>
                    <div id="passcode-policy-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input id="passcode-policy-allow-simple" type="checkbox"
                                   class="form-control operationDataKeys" data-key="passcodePolicyAllowSimple"
                                   checked="checked" disabled/>
                            <span class="helper"
                                  title="允许重复，升序和降序字符序列">
                                  	允许简单的值
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input id="passcode-policy-require-alphanumeric" type="checkbox"
                                   class="form-control operationDataKeys" data-key="passcodePolicyRequireAlphanumeric"
                                   checked="checked" disabled/>
                            <span class="helper" title="规定包含字母和数字">
                                   	要求带字母数字的值
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-label" for="passcode-policy-min-length">
                            	密码最小长度
                            <span class="helper" title="密码中允许的最少字符数">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                        <select id="passcode-policy-min-length" class="form-control operationDataKeys"
                                data-key="passcodePolicyMinLength" data-default="0" disabled>
                            <option value="" selected="selected">
                                	无
                            </option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="8">08</option>
                            <option value="9">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-label" for="passcode-policy-min-complex-chars">
                           	最少数量的复杂字符
                            <span class="helper"
                                  title="密码中允许的最小数量的复杂或非字母数字字符">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                        <select id="passcode-policy-min-complex-chars" class="form-control operationDataKeys"
                                data-key="passcodePolicyMinComplexChars" data-default="0" disabled>
                            <option value="" selected="selected">
                                	无
                            </option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                        </select>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-label" for="passcode-policy-max-passcode-age-in-days">
                            	密码最长使用天数
                            <span class="helper" title="必须更改密码的天数">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            <br>
                            ( 应该在1到730天之间或无密码 )
                        </label>
                        <input id="passcode-policy-max-passcode-age-in-days" type="text"
                               class="form-control operationDataKeys" data-key="passcodePolicyMaxPasscodeAgeInDays"
                               maxlength="3" placeholder="[输入数字]" disabled>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-label" for="passcode-policy-passcode-history">
                            	历史密码
                            <span class="helper" title="在重用前要使用的惟一密码的数量">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            <br>
                            ( 应该在1到50密码之间或无密码。 )
                        </label>
                        <input id="passcode-policy-passcode-history" type="text" class="form-control operationDataKeys"
                               data-key="passcodePolicyPasscodeHistory" maxlength="2"
                               placeholder="[输入数字]" disabled>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-label" for="passcodePolicyMaxFailedAttempts">
                           	最大失败尝试次数
                            <span class="helper"
                                  title="在设备上的所有数据将被擦除之前允许的最大密码输入尝试次数">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                        <select id="passcode-policy-max-failed-attempts" class="form-control operationDataKeys"
                                data-key="passcodePolicyMaxFailedAttempts" data-default="0" disabled>
                            <option value="" selected="selected">
                                	无
                            </option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="8">08</option>
                            <option value="9">09</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- /passcode-policy -->

        <!-- camera -->
        <div class="wr-hidden-operation" data-operation="camera">
            <div class="panel panel-default operation-data" data-operation="camera" data-operation-code="CAMERA">
                <div id="camera-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        	相机限制
                        <label class="wr-input-control switch hidden" data-toggle="collapse" data-target="#camera-body">
                            <input type="checkbox"/>
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                    </h2>
                    <div class="panel-title-description">
                        	此配置可用于为Windows设备设置密码策略。一旦将此配置的配置文件安装在设备上，相应的用户将无法在其设备上修改这些设置。
                    </div>
                </div>
                <div id="camera-body" class="panel-collapse panel-body collapse" role="tabpanel"
                     aria-labelledby="camera-body">
                    <hr/>
                    <div id="camera-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    	如果您需要禁用相机，请取消选中以下复选框。
                    <br>
                    <br>
                    <div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input id="camera-enabled" type="checkbox" class="operationDataKeys"
                                   data-key="cameraEnabled" checked="checked" disabled/>
                            <span class="helper"
                                  title="选中此项将在设备中启用手机摄像头。">
                                   	允许使用相机
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <!-- /camera -->

        <!-- encrypt-storage -->
        <div class="wr-hidden-operation" data-operation="encrypt-storage">
            <div class="panel panel-default operation-data" data-operation="encrypt-storage"
                 data-operation-code="ENCRYPT_STORAGE">
                <div id="encrypt-storage-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        	加密设置
                        <label class="wr-input-control switch hidden" data-toggle="collapse"
                               data-target="#encrypt-storage-body">
                            <input type="checkbox"/>
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                    </h2>
                    <div class="panel-title-description">
                        	此设置可用于加密Windows设备上的数据，当设备被锁定并在输入密码时使其可读。 一旦将此配置文件安装到设备上，相应的用户将无法在其设备上修改这些设置。
                    </div>
                </div>
                <div id="encrypt-storage-body" class="panel-collapse panel-body collapse" role="tabpanel"
                     aria-labelledby="encrypt-storage-body">
                    <hr/>
                    <div id="encrypt-storage-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    	如果您需要禁用存储加密，请取消选中以下复选框。
                    <br>
                    <br>
                    <div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input id="encrypt-storage-enabled" type="checkbox" class="operationDataKeys"
                                   data-key="encryptStorageEnabled" checked="checked" disabled/>
                            <span class="helper"
                                  title="选中此项将启用设备中的存储加密">
                                   	启用存储加密
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <!-- /encrypt-storage -->
    </div>
</div>